.pic{
	height : 42px;
	width : 42px;
	margin: 0 auto;
	background: url(../course/en/images/pic.png);
	margin-top:70px;
}
.game_1{
	height: 518px;
  	width: 100%;
  	background: #f2f2f2;
  	padding-top: 45px;
}
.block_1{
	width: 650px;
  	height: 428px;
  	border-radius: 10px;
  	border: 0.5px solid #bbb3b3;
  	background: #fff;
  	margin: 0 auto;
}
.question{
	border: 1px solid rgba(0, 0, 0, 0.1);
  	border-radius: 2px;
  	background: #f2f2f2;
  	width: 420px;
  	height: 236px;
  	margin:0 auto;
  	cursor: grab;
}
.text_1{
	font-weight: 700;
  	font-size: 21px;
  	letter-spacing: 0px;
  	text-align: center;
  	line-height: 28px;
  	margin-top: 20px;
}
.buttons{
  	display:flex;
  	width: 424px;
  	margin:0 auto;
  	margin-top: 30px;
}
.button_1{
	display: block;
	width: 207px;
	height: 42px;
	background: #b88b59;
	text-align: center;
	cursor: pointer;
	color: #fff;
	font-size: 14px;
	line-height: 16px;
	padding: 12px 18px 6px;
	letter-spacing: 1px;
	text-transform: uppercase;
	border-radius: 8px;
	font-weight: 600;
	position: absolute;
	margin-top: 30px;
	margin-left: 120px;
}
.button_2{
  	display: block;
  	width: 207px;
  	height: 42px;
  	background: #b88b59;
  	text-align: center;
 	cursor: pointer;
 	color: #fff;
  	font-size: 14px;
  	line-height: 16px;
  	padding: 12px 18px 6px;
  	letter-spacing: 1px;
  	text-transform: uppercase;
  	border-radius: 8px;
  	margin-left: 335px;
  	font-weight: 600;
  	margin-top: 30px;
}
.button_1:hover{
  	background: #926e45;
  	transition: 0.5s;
}
.button_2:hover{
  	background: #926e45;
  	transition: 0.5s;
}
.usage{
  	font-size: 12px;
  	color: rgb(113, 113, 113);
  	letter-spacing: 0px;
  	line-height: 14px;
  	max-width: 420px;
  	text-align: center;
  	white-space: pre-line;
  	font-weight: 400;
  	display:block;
  	width: 400px;
  	margin:0 auto;
  	margin-top: 12px;
}
.count{
  	text-transform: uppercase;
  	margin-top: 25px;
  	margin-bottom: 15px;
  	width: 10px;
  	color: #000;
  	margin-left: 10px;
}
.count-text{
  	letter-spacing: 0.8px;
  	color: rgb(154, 154, 154);
  	text-transform: uppercase;
  	margin: 0 auto;
  	margin-top: 25px;
  	margin-bottom: 15px;
  	width: 50px;
}