.pic{
	height : 42px;
	width : 42px;
	margin: 0 auto;
	background: url(../course/en/images/pic.png);
	margin-top:70px;
}
.game_1{
	height: 518px;
  	width: 100%;
  	background: #f2f2f2;
  	padding-top: 45px;
}
.block_1{
	width: 650px;
  	height: 428px;
  	border-radius: 10px;
  	border: 0.5px solid #bbb3b3;
  	background: #fff;
  	margin: 0 auto;
}
.question{
	border: 1px solid rgba(0, 0, 0, 0.1);
  	border-radius: 2px;
  	background: #f2f2f2;
  	width: 420px;
  	height: 236px;
  	margin:0 auto;
  	cursor: grab;
}
.text_1{
	font-weight: 700;
  	font-size: 21px;
  	letter-spacing: 0px;
  	text-align: center;
  	line-height: 28px;
  	margin-top: 20px;
}
.buttons{
  	display:flex;
  	width: 424px;
  	margin:0 auto;
  	margin-top: 30px;
}
.button_1{
	display: block;
	width: 207px;
	height: 42px;
	background: #36CDE8;
	text-align: center;
	cursor: pointer;
	color: #fff;
	font-size: 14px;
	line-height: 16px;
	padding: 12px 18px 6px;
	letter-spacing: 1px;
	text-transform: uppercase;
	border-radius: 8px;
	font-weight: 600;
	position: absolute;
	margin-left: 110px;
}
.button_2{
  	display: block;
  	width: 207px;
  	height: 42px;
  	background: #36CDE8;
  	text-align: center;
 	  cursor: pointer;
 	  color: #fff;
  	font-size: 14px;
  	line-height: 16px;
  	padding: 12px 18px 6px;
  	letter-spacing: 1px;
  	text-transform: uppercase;
  	border-radius: 8px;
  	margin-left: 325px;
  	font-weight: 600;
  	margin-top: 30px;
}
.button_1:hover{
  	background: #1c92a7;
  	transition: 0.5s;
}
.button_2:hover{
  	background: #1c92a7;
  	transition: 0.5s;
}
.usage{
  	font-size: 12px;
  	color: rgb(113, 113, 113);
  	letter-spacing: 0px;
  	line-height: 14px;
  	max-width: 420px;
  	text-align: center;
  	white-space: pre-line;
  	font-weight: 400;
  	display:block;
  	width: 400px;
  	margin:0 auto;
  	margin-top: 12px;
}
.count{
  	text-transform: uppercase;
  	margin-top: 25px;
  	margin-bottom: 15px;
  	width: 10px;
  	color: #000;
  	margin-left: 360px;
  	position: absolute;
}
.count-text{
  	letter-spacing: 0.8px;
  	color: rgb(154, 154, 154);
  	text-transform: uppercase;
  	margin: 0 auto;
  	margin-top: 25px;
  	margin-bottom: 15px;
  	width: 50px;
}
.block_in{
    width: 650px;
    height: 428px;
    position: absolute;
    border-radius: 10px;
    border: 0.5px solid #bbb3b3;
    background: #fff;
    margin: 0 auto;
    padding: 25px;
    z-index: -1;
    opacity: 0;
    margin-left: -1px;
    margin-top: -1px;
    transition-duration: 0.5s;
}
.pic1{
    height: 315px;
    width: 100%;
    background: url(https://meduza.io/image/attachments/images/006/364/275/large/bMeGi7SQBFu-DJ3i5xZ3ow.jpg);
}
.result{
    height: 315px;
    width: 599px;
    z-index: 3;
    position: absolute;
    background-color:rgba(0,0,0,.6);
}
.text_in{
    font-weight: 600;
    letter-spacing: 0.2px;
    font-size: 14px;
    line-height: 16px;
    color: rgb(255, 255, 255);
    opacity: 0.8;
    text-shadow: rgb(0 0 0 / 50%) 0px 2px 8px;
    margin-left: 35px;
    margin-top: 110px;
}
.box{
    background: rgb(255, 255, 255);
    box-shadow: rgb(0 0 0 / 50%) 0px 2px 4px 0px, rgb(183 139 92) 0px 5px 0px 0px inset;
    border-radius: 8px;
    padding: 21px 20px 20px;
    margin-top: 5px;
    font-family: 'Open Sans',sans-serif;
    width: 530px;
    height: 130px;
    margin-left: 35px;
}
.num{
    font-family: 'Open Sans',sans-serif;
    font-size: 25px;
    line-height: 30px;
    font-weight: 700;
    color: rgb(0, 0, 0);
    letter-spacing: 0px;
}
.phrase{
    font-family: 'Open Sans',sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 25px;
    color: rgb(0, 0, 0);
    letter-spacing: 0px;
    margin-top: 9px;
}
.once_more{
    font-size: 14px;
    line-height: 18px;
    text-decoration: underline;
    cursor: pointer;
    font-family: 'Open Sans',sans-serif;
    margin-left: 8px;
}
.show{
  opacity: 1;
  z-index: 2;
}