<div class="game">
	<div class="block1">
		<div class="block_in">
		<div class="buttons">
			<div class="button_1">ЭТО ЕСТЬ</div>
			<div class="button_2">ВОТ ЭТОГО НЕТ</div>
		</div>
		<p class="usage">Отвечать можно стрелочками клавиатуры ← влево и вправо →<br>или перетаскивать мышкой</p>
	</div>
</div>