<div class="component__inner game__inner">

  {{> component this}}

  <div class="component__widget game__widget">

    <div class="game__image-container{{#if _game.attribution}} has-attribution{{/if}}">

      <div class="game__image js-game-set-image-src game_1">
      	<div class="game__image js-game-set-image-src block_1">
      		<div class="game__image js-game-set-image-src" style="display:flex">
      			<div class="game__image js-game-set-image-src count-text">ОЧКИ:</div>
      			<div class="game__image js-game-set-image-src count" id="count">{{counter}}</div>
      		</div>
      		<div class="game__image js-game-set-image-src question">
      			<div class="game__image js-game-set-image-src pic"></div>
      			<div class="game__image js-game-set-image-src text_1" id="text">Домашний театр</div>
      		</div>
      		<div class="game__image js-game-set-image-src button">
      			<div class="game__image js-game-set-image-src button_1">ЭТО ЕСТЬ</div>
      			<div class="game__image js-game-set-image-src button_2">ВОТ ЭТОГО НЕТ</div>
      		</div>
      	</div>
      </div>

      {{#if _game.attribution}}
      <div class="component__attribution game__attribution">
        <div class="component__attribution-inner game__attribution-inner">
          {{{_game.attribution}}}
        </div>
      </div>
      {{/if}}

    </div>

  </div>

</div>