<div class="component__inner game__inner">

  {{> component this}}

  <div class="component__widget game__widget">

    <div class="game__image-container{{#if _game.attribution}} has-attribution{{/if}}">

      <div class="game__image game_1">
      	<div class="game__image block_1">
          <div class="game__image block_in">
            <div class="game__image result">
              <div class="game__image text_in">Попробуйте угадать, чего нет во&nbsp;дворце Владимира Путина</div>
              <div class="game__image box">
                <div class="game__image num" id="num">15 из 25</div>
                <div class="game__image phrase" id="phrase">Я знаю, как устроен «дворец Путина». Ищите меня в spa-капсуле</div>
              </div>
            </div>
            <div class="game__image pic1"></div>
            <div style="display:flex;margin: 0 auto;margin-top:30px;">
              <svg xmlns="http://www.w3.org/2000/svg" width="11" height="14" viewBox="0 0 11 14"><g fill="none" stroke="#000" stroke-linejoin="round" transform="translate(1 1)"><path d="M4.6 0.4L6.8 2.6 4.6 4.9"></path><path d="M9.4 7.1c0 2.5-2 4.5-4.5 4.5S.4 9.6.4 7.1c0-2.4 2-4.5 4.5-4.5h1.7" style="display:block;"></path></g></svg>
              <div class="game__image once_more">Играть еще раз</div>
            </div>
          </div>
      		<div class="game__image" style="display:flex; justify-content: center;">
      			<div class="game__image count-text">ОЧКИ:</div>
      			<div class="game__image count" id="count">0</div>
      		</div>
      		<div class="game__image question">
      			<div class="game__image pic"></div>
      			<div class="game__image text_1" id="text">Домашний театр</div>
      		</div>
      		<div class="game__image buttons">
      			<div class="game__image button_1">ЭТО ЕСТЬ</div>
      			<div class="game__image button_2">ВОТ ЭТОГО НЕТ</div>
      		</div>
      	</div>
      </div>

      {{#if _game.attribution}}
      <div class="component__attribution game__attribution">
        <div class="component__attribution-inner game__attribution-inner">
          {{{_game.attribution}}}
        </div>
      </div>
      {{/if}}

    </div>

  </div>

</div>